
<body><br><br>
    <h3>Contact</h3><br><br>
    
            <a routerLink="submit">Submit</a>      
    
    <form><br><br>
        <label>First name:</label><br>
        <input type="name" name=  "first name" placeholder="enter first name"><br>
        <label> Last name:</label><br>
        <input type="name"  name=  "last name" placeholder="enter last name"><br>
        <label>Email:</label><br>
        <input type="name" name=  "email name" placeholder="enter email"><br>
        <label>Password:</label><br>
        <input type="name" name=  "password" placeholder="enter password"><br>
        <label>City:</label><br>
        <input type="name" name=  "city" placeholder="enter city"><br>
        <label>State:</label><br>
        <input type="name" name=  "state" placeholder="enter state"><br><br><br>

        
        </form>
</body>
        
        
        
    

