h1{
    color:black;
   
}
a{
    justify-content: space-between;
    display: inline-black;
    padding: 30px;
    font-size: 20px;
    padding-top: 0px;
}
h2{
    padding-top: 80px;
    
    font-family: italic;
}
button{
    background-color: white;
}
body{
    background-image: url("https://dimg04.c-ctrip.com/images/220f0g0000007xvcg9E74_R_1136_750_R5_D.jpg");
    background-size: cover;
    padding-bottom: 700px;
}
.logo{
    width: 120px;
    margin-left: 2cm;
    margin-top: 1cm;
}
.container h1{
    padding-left: 20px;
    padding-top: 10px;
}