
<body><br>
    <h3>Contact us</h3><br>
    <div class="det">
    <form><br>
        <label>First name:</label><br>
        <input type="name" name=  "first name" placeholder="enter first name"><br>
        <label> Last name:</label><br>
        <input type="name"  name=  "last name" placeholder="enter last name"><br>
        <label>Email:</label><br>
        <input type="name" name=  "email name" placeholder="enter email"><br>
        <label>Password:</label><br>
        <input type="name" name=  "password" placeholder="enter password"><br>
        <label>City:</label><br>
        <input type="name" name=  "city" placeholder="enter city"><br>
        <label>State:</label><br>
        <input type="name" name=  "state" placeholder="enter state"><br><br><br>
        <button>Submit</button> 
        
        </form>
</div>
        
        
        
    


